/* FONTS & COLOURS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

@font-face {
    font-family: 'Cirka';
    src: url('../fonts/Cirka-Light.otf') format('opentype'),
        url('../fonts/Cirka-Variable.ttf') format('truetype');
}

:root {
    --primary-text: #333333;
    --primary-accent: #615192;
    --secondary-accent: #FAF0E6;
    --background: #FAFAFA;
}


/* BODY & GENERAL STYLING */

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 200%;
    background: var(--background);
}

::selection {background: var(--secondary-accent);}
::-moz-selection {background: var(--secondary-accent);}

h1, h2, h3, h4, h5, h6 {font-family: 'Cirka', serif;}

a {color: var(--primary-accent); text-decoration-style: solid;}

a:hover {text-decoration-style: wavy;}

em {
    font-weight: 500;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

small {font-size: 0.875em; letter-spacing: 0.05em;}

.button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    color: var(--primary-accent);
    text-decoration: none;
    border-bottom: 0.2em solid var(--primary-accent);
    transition: 0.5s;
}

.button:hover {
    color: var(--primary-text);
    border-bottom: 0.2em solid var(--primary-text);
    transition: 0.5s;
}

.button:after {content: " →";}
.button.prev:after { content: ""}

.button.prev:before {content: "← ";}


/* NAVBAR */

.bg-body-tertiary {--bs-bg-opacity: 1; background-color: var(--background) !important;}

.navbar {
    --bs-navbar-padding-y: 0.25rem;
    --bs-navbar-padding-x: 5rem;
    letter-spacing: 0.025em;
    font-size: 0.95rem;
    margin-bottom: 5em;
}

.navbar-brand img {height: 3em;}

.navbar-nav {
    font-family: 'Cirka', serif;
    font-weight: 400;
    text-transform: lowercase;
    --bs-nav-link-color: var(--primary-text);
    --bs-nav-link-hover-color: var(--primary-accent);
}

.navbar-nav>li:not(:last-of-type) {margin-right: 2.5em;}

.navbar-nav .nav-link.active {font-weight: 400; border-bottom: 0.1em solid var(--primary-accent);}

.navbar-toggler {border: none;}


/* GENERAL BOOTSTRAP STYLING */

.container {width: 75%;}

.card {border: none; background-color: transparent;}


/* HOME HERO DISPLAY */

.display {
    width: 55%;
    display: flex;
    align-items: center;
    text-align: right;
    gap: 3em;
    margin: 8em auto;
    background: url(../images/diamondoutline.svg), url(../images/diamondoutline.svg);
    background-size: 4%, 4%;
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 15%, 50% 70%;
    animation: fadeIn 2s ease;
}

.container.display h1 {
    font-size: 3em;
}

.container.display img {
    animation: slideL 2s ease;
}

.container.display .card-body {
    animation: slideR 2s ease;
}

.container.display .card-body em {color:var(--primary-accent)}

/* HOME KEYFRAMES */

@keyframes slideL {
	0% {opacity: 0.9; transform: translateX(-30px);}
	100% {opacity: 1; transform: translateX(0);}
}

@keyframes slideR {
	0% {opacity: 0.9; transform: translateX(30px);}
	100% {opacity: 1; transform: translateX(0);}
}

@keyframes slideD {
	0% {opacity: 0.9; transform: translateY(30px);}
	100% {opacity: 1; transform: translateY(0);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* WORK */

#work {height: 6em;}

.container.work {margin-bottom: 6em; font-size: 0.8em;}

.container.work .card {margin-bottom: 15em;}

.container.work .card img {width: 100%; height: 25em; object-fit: cover;}

.container.work .card-title {font-size: 2.7em;}

.container.work .card-text {text-transform: uppercase;}

.container.work .button {font-size: 1em; padding-bottom: 1em;}


/* ABOUT */

.container.about {margin-bottom: 5em;}

.about-title:before {
    content: url(../images/diamondoutline.svg);
    width: 0.7em;
    display: inline-block;
    margin-right: 0.5em;
}

.container.about .card img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    object-position: center 85%;
}

.aboutlinks {
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* PROJECT DETAIL */

.project {width: 60%; margin-bottom: 5em;}

.project-banner {margin-bottom: 5em;}

.project-banner img {height: 20em; object-fit: cover;}

.container.project .card-body {padding: 0;}

.container.project .card-title {margin-top: 2em;}

.container.project em {color: var(--primary-accent);}

.project-detail {margin: 5em 0;}

.project-detail h3 {margin: 1em 0;}

.project-detail .row img {max-width: 75%; display: block; margin: auto; padding-bottom: 1em;}

/* PROJECT NAV */

.project-nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.project-nav.first-nav {justify-content: flex-end;}


/* PLAYGROUND */

.playground .row {text-align: center; margin-bottom: 5em;}

.playground .row img {max-width: 90%; display: block; margin: auto; border: 0.1em solid #eee}

.playground .card-title {margin: 3em 0 1em 0; text-align: center;}


/* FOOTER */

footer {
    font-family: 'Cirka', serif;
    font-weight: 300;
    font-size: 1.5em;
    position: relative;
    width: 100%;
    padding: 2rem;
    bottom: 0px;
    color: var(--primary-accent);
    text-align: center;
}

#social {margin: 0.5em 0;}

#social a {color: var(--primary-accent);}

#social a:hover {color: var(--primary-text);}

#social a:not(:last-of-type) {margin-right: 2em;}

#copy {
    margin: 1em 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.5em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .container.about .button:after {content: "";}
    .container.about .button.prev:after {content: "";}
    .container.about .button.prev:before {content: "";}
}

@media screen and (max-width: 767.98px) {
    .navbar {--bs-navbar-padding-x: 1rem; --bs-navbar-padding-y: 1rem;}
    .navbar-brand img {height: 2em;}
    .container {width: 100%;}
    .container.display {width: 100%; margin: 1em auto; background-position: 100% 3%, 25% 80%;}
    .container.display img {display:none}
    .container.display .col-md-4 {width: 0%;}
    .container.work {margin-bottom: 1em; margin-top: -5em;}
    .container.work .card {margin-bottom: 5em;}
    .container.work .row {flex-direction: column-reverse;}
    .container.about img {margin-top: 5em;}
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .container.display {width: 75%; background-position: 100% 0%, 50% 80%;}
    .container.about .card img {object-fit: contain;}
}

@media screen and (min-width: 2000px) {
    body {font-size: 30px;}
    .navbar {font-size: 1.5em; --bs-navbar-padding-x: 20rem; --bs-navbar-padding-y: 10rem;}
    .navbar-brand img {height: 8em;}
    .container.display {background-position: 100% 0%, 50% 90%; margin-top: 12em;}
    #work {height:15em;}
    .container.about .card-title {font-size: 2em;}
    .container.about .card img {height:40em; object-position: 70%;}
}
