/*---BASIC---*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
	color: #333;
	line-height: 1.6;
	background: #f8f8f8;
}

a {
	text-decoration: none;
	color: #333;
}

::selection {
	background: #eee;
	color: #333;
}

::-moz-selection {
	background: #eee;
	color: #333;
}


/*---HEADER---*/

header {
	display: flex;
	/*background-color: lightgrey;*/
	height: 10vh;
	width: 75%;
	padding-top: 8%;
	margin: auto;
	align-items: center;
}

/*LOGO*/

.logo-container, .nav-links {
	display: flex;
}

.logo-container { 
	/*background-color: lightpink;*/
	margin-top: -5px;
	flex: 2;
}

.logo a {
	vertical-align: middle;
	font-size: 15px;
	padding: 4px;
	border: 3px solid #333;
	transition: 275ms ease;
}

.logo a:hover {
	color: #008080;
	border: 3px solid #008080;
	transition: 275ms ease;
}

/*NAV*/

nav {
	flex: 1;
}

.nav-links {
	justify-content: space-around;
	list-style: none;
	font-weight: 700;
}

.nav-link {
	padding: 5px;
}

.nav-links a {
	overflow: hidden;
	background: linear-gradient(to right, #fe938c, #fe938c 50%, #333 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.nav-links a:hover {
	background-position: 0 100%;
}


/*---CONTENT---*/

.all {
	display: flex;
	width: 75%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.introduction {
	flex: 2;
}

.intro-text {
	animation: slideL 2s ease;
}

.intro-text h1 {
	font-size: 25px;
}

.intro-text p {
	letter-spacing: 0.75px;
	max-width: 450px;
}

.intro-text b {
	font-weight: 400;
	color: #723d46;
}

.intro-image {
	animation: slideR 2s ease;
	height: 50vh;
	flex: 1;
}

.intro-image img { 
	pointer-events: none;
	height: 100%;
	filter: drop-shadow(0px 7px 7px grey);
}


/*---OPP SLIDE IN---*/

.introalt-text {
	animation: slideR 2s ease;
}

.introalt-text h1 {
	font-size: 25px;
}

.introalt-text p {
	letter-spacing: 0.75px;
	max-width: 450px;
}

.introalt-text b {
	font-weight: 400;
	color: #723d46;
}

.introalt-image {
	animation: slideL 2s ease;
	height: 50vh;
	flex: 1;
}

.introalt-image img { 
	pointer-events: none;
	height: 100%;
	filter: drop-shadow(0px 7px 7px grey);
}

/*---SLIDE---*/

@keyframes slideL {
	0% {
		opacity: 0;
		transform: translateX(-80px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideR {
	0% {
		opacity: 0;
		transform: translateX(80px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*---FOOTER---*/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 25px;
}

footer a {
	padding: 10px;
	opacity: 0.8;
	transition: 275ms ease;
}

footer a:hover {
	opacity: 1;
	transition: 275ms ease;
}

/*---MEDIA QUERIES---*/

@media screen and (max-width: 567px) {
	.all {
		flex-direction: column;
		margin-top: 70px;
		text-align: center;
	}

	.intro-text {
		margin-bottom: 75px;
	}

	.intro-text h1 {
		font-size: 18px;
	}

	.intro-text p {
		font-size: 15px;
	}

	.intro-image img {
		height: 80%;
	}
}

@media screen and (max-width: 700px) {
	.intro-text h1 {
		font-size: 20px;
	}
}

@media screen and (max-width: 650px) and (min-height: 1000px) {
	.all {
		flex-direction: column;
		padding-top: 175px;
	}

	.intro-text {
		font-size: 20px;
	}

	.intro-text h1 {
		font-size: 20px;
	}

	.intro-image img {
		height: 50%;
	}
}

@media screen and (min-width: 2500px) {
	header {
		font-size: 40px;
	}

	.logo a {
		font-size: 40px;
		border-width: 7px;
		padding: 8px;
	}

	.introduction {
		font-size: 40px;
	}

	.intro-text h1 {
		font-size: 45px;
	}

	.intro-text p {
		max-width: 750px;
	}

	footer {
		font-size: 45px;
	}

	footer a {
		padding: 20px;
	}
}
