/*---BODY---*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
	color: #eee;
	text-transform: uppercase;
	line-height: 1.6;
	background-color: #111111;
	margin: 0;
	overflow-x: hidden;
}

::selection {
	background: #eee;
	color: #333;
}

::-moz-selection {
	background: #eee;
	color: #333;
}

/*---BACKGROUND---*/

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: -99999;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/*---TEXT---*/

.underconstruction {
	display: flex;
	justify-content: center;
	margin-top: 25%;
	align-items: center;
}

.underconstruction h1 {
	font-size: 2em;
	letter-spacing: 0.25em;
	font-weight: 900;
}

.underconstructiontext {
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 0.15em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.underconstructiontext a {
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #eee;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.underconstructiontext a:hover {
	color: #999;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.footer {
	font-size: 0.7em;
	letter-spacing: 0.15em;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin-top: 25%;
	align-items: center;
}
